@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  background-color: #2874cc;
}

.container{
  padding: 30px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.card-previsão{
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/* Medias queries */

  /* Header */
  @media screen and (max-width: 935px) {
    header nav {
      flex-direction: column;
      gap: 20px;
    }
  }

  header nav input{
    width: 100%;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: none;
  }

  /* Primeiros cards */
  @media screen and (max-width: 1080px) {
    
    .first-box{
      flex-direction: column;
    }
    .first-box > :nth-child(1),.first-box > :nth-child(2){
      width: 100%;
    }
  }

  @media screen and (max-width: 728px){
    .weateher-card{
      flex-direction: column;
      gap: 20px;
    }
    .weateher-card > :nth-child(1){
      flex-direction: row;
    }

    .weateher-card > :nth-child(2) h1{
      margin-bottom: 30px;
    }
  }

  @media screen and (max-width: 555px) {
    header nav div form{
      flex-direction: column;
    }
    .weateher-card > :nth-child(1){
      flex-direction: column;
      text-align: center;
    }
    .weateher-card > :nth-child(1) > :nth-child(2){
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }

  @media screen and (max-width: 468px) {
    .weateher-card > :nth-child(1) > :nth-child(2){
      flex-direction: column;
    }
  }


  /* Segundo card */

  @media screen and (max-width: 995px) {
    /* segundo cards */
    .second-box{
      flex-direction: column;
    }
    .second-box > :nth-child(1),.second-box > :nth-child(2){
      width: 100%;
    }

    .box-card-previsao{
      flex-wrap: wrap;
      justify-content: center;
    }
    .card-previsao{
      flex-direction: column;
      height: auto;
      border-radius: 20px;
      padding: 20px;
    }   
  }

